openapi: 3.1.0
info:
  title: Maia Learn API — implemented MVP
  version: 0.1.0
  description: Free article/Markdown/MP4 courses, resumable upload, private playback,
    curated home, identity and progress. HLS remains planned. Mutations require application/json
    except the authenticated octet-stream chunk route.
servers:
  - url: https://learn.maiaplatform.org/api/v1
  - url: http://localhost:3000/api/v1
paths:
  /auth/register:
    post:
      summary: Create a learner and queue verification email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                  maxLength: 128
                locale:
                  type: string
                  default: pt-BR
      responses:
        '201':
          description: Account created
        '409':
          description: Email exists
        '422':
          description: Invalid fields
  /auth/login:
    post:
      summary: Rotate session and sign in
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: User and session cookie
        '401':
          description: Invalid credentials
  /auth/logout:
    post:
      summary: Destroy current session
      security:
        - cookieAuth: []
      responses:
        '204':
          description: Logged out
  /auth/me:
    get:
      summary: Current user
      security:
        - cookieAuth: []
      responses:
        '200':
          description: User profile
        '401':
          description: Session missing or invalid
  /auth/verify-email:
    get:
      summary: Consume email verification token
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Verified
        '400':
          description: Invalid or expired token
  /auth/forgot-password:
    post:
      summary: Queue reset email if account exists
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
      responses:
        '204':
          description: Accepted without disclosing account existence
  /auth/reset-password:
    post:
      summary: Consume reset token and invalidate existing sessions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
                - password
              properties:
                token:
                  type: string
                password:
                  type: string
                  minLength: 8
                  maxLength: 128
      responses:
        '200':
          description: Password updated
        '400':
          description: Invalid token
  /courses:
    get:
      summary: Search published courses (maximum 100)
      parameters:
        - name: q
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Array of published courses
  /courses/{id}:
    parameters:
      - $ref: '#/components/parameters/courseId'
    get:
      summary: Course and syllabus; enrolled learners see their assigned revision
      responses:
        '200':
          description: Course with modules
          lesson metadata and optional enrollment: null
        '404':
          description: Missing or inaccessible draft
  /courses/{id}/enroll:
    parameters:
      - $ref: '#/components/parameters/courseId'
    post:
      summary: Idempotent free enrollment
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Existing or new enrollment
        '403':
          description: Paid course or revoked access
        '409':
          description: Course not published
  /me/enrollments:
    get:
      summary: My enrollments with required/completed lesson counts
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Enrollment array
  /lessons/{id}:
    parameters:
      - $ref: '#/components/parameters/lessonId'
    get:
      summary: Authorized lesson body and saved progress
      responses:
        '200':
          description: Lesson with original body, content_format, render_policy_version, sanitized body_html
            and saved progress; captions array includes language, label and plain
            transcript. The admin course detail includes captions_json for editing.
        '403':
          description: Enrollment required or wrong revision
  /lessons/{id}/progress:
    parameters:
      - $ref: '#/components/parameters/lessonId'
    put:
      summary: Save position or mark lesson complete
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                positionSeconds:
                  type: integer
                  minimum: 0
                complete:
                  type: boolean
      responses:
        '200':
          description: Saved progress; completion is not undone by false
        '403':
          description: No active entitlement or cross-course/revision lesson
  /admin/courses:
    get:
      summary: List owned courses (admin sees all)
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Course array
        '403':
          description: Author/admin required
    post:
      summary: Create a free-course draft with modules and lessons
      security:
        - cookieAuth: []
      requestBody:
        $ref: '#/components/requestBodies/course'
      responses:
        '201':
          description: Draft created
        '409':
          description: Slug exists or CREATION_EXISTS
        '422':
          description: Invalid course
  /admin/courses/{id}:
    parameters:
      - $ref: '#/components/parameters/courseId'
    put:
      summary: Create a new draft revision (owner or admin)
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - slug
                - title
                - summary
                - accessMode
                - modules
                - expectedRevisionId
              properties:
                slug:
                  type: string
                  minLength: 3
                  maxLength: 100
                  pattern: ^[a-z0-9]+(?:-[a-z0-9]+)*$
                title:
                  type: string
                  minLength: 3
                  maxLength: 255
                summary:
                  type: string
                  minLength: 10
                  maxLength: 1000
                locale:
                  type: string
                  default: pt-BR
                  enum:
                    - en
                    - pt-BR
                    - es
                accessMode:
                  type: string
                  enum:
                    - OPEN_FREE
                    - ENROLLED_FREE
                modules: &id007
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required:
                      - title
                      - lessons
                    properties:
                      title:
                        type: string
                        minLength: 1
                        maxLength: 200
                      lessons:
                        type: array
                        minItems: 1
                        maxItems: 100
                        items:
                          type: object
                          required:
                            - title
                            - body
                          properties:
                            title:
                              type: string
                              minLength: 1
                              maxLength: 200
                            body:
                              type: string
                              minLength: 0
                              maxLength: 100000
                            required:
                              type: boolean
                              default: true
                            preview:
                              type: boolean
                              default: false
                            contentFormat:
                              type: string
                              enum:
                                - plain
                                - markdown
                              default: plain
                            videoId:
                              type:
                                - string
                                - 'null'
                              format: uuid
                              description: Video in the same course. Only READY video
                                can be published; drafts may have empty body.
                            attachments:
                              type: array
                              maxItems: 30
                              default: []
                              items:
                                $ref: '#/components/schemas/AttachmentInput'
                            captions:
                              type: array
                              maxItems: 3
                              default: []
                              description: At most one track per supported language.
                                Replaces tracks in the new revision.
                              items:
                                $ref: '#/components/schemas/CaptionInput'
                creationId:
                  type: string
                  format: uuid
                  description: Optional stable client ID to detect repeated draft
                    creation (409 CREATION_EXISTS).
                expectedRevisionId:
                  type: string
                  format: uuid
                attachments:
                  type: array
                  maxItems: 30
                  default: []
                  items:
                    $ref: '#/components/schemas/AttachmentInput'
      responses:
        '200':
          description: New draft revision; publication and enrolled revisions unchanged
        '403':
          description: Not owner/admin
        '409':
          description: 'DRAFT_CONFLICT: reload before retrying'
    get:
      summary: Read editable revision including lesson bodies (owner or admin)
      security: &id001
        - cookieAuth: []
      responses:
        '200':
          description: Editable course snapshot, revision_id and current_revision_id
        '403':
          description: Not owner/admin
    patch:
      summary: Save changed editing units atomically as a new draft revision
      description: Indexes refer to the exact expected revision. Course metadata, module titles and complete lesson values can be replaced. Structural additions/removals use PUT. Omitted units are read from the server; publication and enrollment snapshots remain unchanged.
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [expectedRevisionId, changes]
              properties:
                expectedRevisionId:
                  type: string
                  format: uuid
                changes:
                  type: array
                  minItems: 1
                  maxItems: 10101
                  items:
                    oneOf:
                      - type: object
                        required: [unit, value]
                        properties:
                          unit: {const: course}
                          value:
                            type: object
                            required: [slug, title, summary, accessMode]
                            description: Same metadata and attachment fields and limits as PUT, excluding modules and creationId.
                      - type: object
                        required: [unit, module, title]
                        properties:
                          unit: {const: module}
                          module: {type: integer, minimum: 0, maximum: 99}
                          title: {type: string, minLength: 1, maxLength: 200}
                      - type: object
                        required: [unit, module, lesson, value]
                        properties:
                          unit: {const: lesson}
                          module: {type: integer, minimum: 0, maximum: 99}
                          lesson: {type: integer, minimum: 0, maximum: 99}
                          value:
                            type: object
                            required: [title, body]
                            description: Complete lesson using the same fields, defaults and limits as PUT, including videoId, captions and attachments. Omitted optional fields receive their normal defaults.
      responses:
        '200':
          description: Course metadata with the new current_revision_id
        '401':
          description: Authentication required
        '403':
          description: Owner or administrator required
        '404':
          description: Course not found
        '409':
          description: DRAFT_CONFLICT or SLUG_EXISTS; no changes applied
        '422':
          description: Invalid or duplicate editing unit, index, content or media relationship; no changes applied
  /admin/courses/{id}/publication-check:
    get:
      summary: Check publication readiness of the exact current draft (owner/admin)
      security:
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/courseId'
        - name: revisionId
          in: query
          required: true
          schema: {type: string, format: uuid}
      responses:
        '200':
          description: Private no-store result. Publication repeats validation inside its transaction.
          content:
            application/json:
              schema:
                type: object
                required: [revisionId, ready, issues]
                properties:
                  revisionId: {type: string, format: uuid}
                  ready: {type: boolean}
                  issues:
                    type: array
                    items:
                      type: object
                      required: [code]
                      properties:
                        code:
                          type: string
                          enum: [PUBLICATION_EMPTY, PUBLICATION_CONTENT, PUBLICATION_ORDER, VIDEO_INVALID, VIDEO_NOT_READY, FILE_INVALID, FILE_NOT_READY]
                        moduleTitle: {type: string}
                        lessonTitle: {type: string}
                        attachmentTitle: {type: string}
        '401':
          description: Authentication required
        '403':
          description: Course owner or administrator required
        '404':
          description: Course not found
        '409':
          description: DRAFT_CONFLICT; requested revision is no longer current
        '422':
          description: Invalid revision identifier
  /admin/courses/{id}/publish:
    parameters:
      - $ref: '#/components/parameters/courseId'
    post:
      summary: Publish current revision (admin only)
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Published
        '403':
          description: Admin required
        '409':
          description: Stale expected revision or slug conflict
        '422':
          description: Publication blocked; issues contains the same structured checklist as publication-check. No publication changes are committed.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                expectedRevisionId:
                  type: string
                  format: uuid
                  description: Recommended concurrency guard; optional for legacy
                    clients
  /admin/courses/{id}/archive:
    parameters:
      - $ref: '#/components/parameters/courseId'
    post:
      summary: Archive, keeping enrolled access (admin only)
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Archived
        '403':
          description: Admin required
  /admin/courses/{id}/preview:
    get:
      summary: Author-only saved draft simulation for learner or visitor access
      description: Requires course ownership or administrator role. Never publishes, enrolls, or tracks progress. Visitor mode omits restricted lesson content. Media retains normal author authorization.
      security: *id001
      parameters:
        - name: id
          in: path
          required: true
          schema: {type: string}
        - name: audience
          in: query
          required: true
          schema: {type: string, enum: [learner, visitor]}
        - name: revisionId
          in: query
          required: true
          schema: {type: string, format: uuid}
      responses:
        '200':
          description: Private no-store snapshot with title, summary, revision_id, audience, course attachments and ordered modules/lessons. Locked lessons contain only id, title and locked. Accessible lessons include body_html, video_id, attachments and captions with language, label and transcript.
        '401':
          description: Sign-in required
        '403':
          description: Course owner or administrator required
        '404':
          description: Course not found
        '409':
          description: DRAFT_CONFLICT; requested revision is no longer current
        '422':
          description: Invalid audience or revision identifier
  /admin/content/preview:
    post:
      summary: Render content using the same sanitization as lesson delivery (author/admin)
      security: *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - body
                - contentFormat
              properties:
                body:
                  type: string
                  maxLength: 100000
                contentFormat:
                  type: string
                  enum:
                    - plain
                    - markdown
      responses:
        '200':
          description: Sanitized HTML using the current server-selected rendering policy, also used for newly saved lessons. Clients cannot select the policy.
          content:
            application/json:
              schema:
                type: object
                required: [html, renderPolicyVersion]
                properties:
                  html:
                    type: string
                  renderPolicyVersion:
                    type: integer
                    enum: [1]
        '403':
          description: Author/admin required
        '422':
          description: Invalid content
  /home:
    get:
      summary: Active editorial selections; published courses only, ordered by ascending
        priority
      responses:
        '200':
          description: Object with hero, featured, recommended arrays of public course
            metadata. Start inclusive, end exclusive.
  /admin/home:
    get:
      summary: Read editorial selection and concurrency version (admin only)
      security: *id001
      responses:
        '200':
          description: Object with version integer and items (HomePlacement array)
        '403':
          description: Admin required
    put:
      summary: Replace editorial selection atomically (admin only)
      description: At most one hero and one placement per course/slot. End must follow
        start. Only published courses are accepted. UTC timestamps.
      security: *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - expectedVersion
                - items
              properties:
                expectedVersion:
                  type: integer
                  minimum: 0
                items:
                  type: array
                  maxItems: 50
                  items:
                    $ref: '#/components/schemas/HomePlacement'
      responses:
        '200':
          description: Updated version and items
        '403':
          description: Admin required
        '409':
          description: HOME_CONFLICT
        '422':
          description: Invalid input, HOME_DUPLICATE or HOME_UNPUBLISHED
  /admin/videos:
    get:
      summary: List videos in course (author owns videos or admin)
      security: &id002
        - cookieAuth: []
      responses:
        '200':
          description: Array with id, course_id, filename, size, offset, status, duration
            and error
      parameters:
        - name: courseId
          in: query
          required: true
          schema:
            type: string
            format: uuid
    post:
      summary: Reserve private upload (author/admin)
      security: *id002
      responses:
        '201':
          description: id, offset=0, chunkSize=524288
        '403':
          description: Course access denied
        '422':
          description: Invalid metadata or VIDEO_QUOTA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - courseId
                - filename
                - size
              properties:
                courseId:
                  type: string
                  format: uuid
                filename:
                  type: string
                  minLength: 1
                  maxLength: 255
                size:
                  type: integer
                  minimum: 1
                  maximum: 2147483648
  /admin/videos/{id}:
    parameters:
      - &id003
        name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get owned upload and resumable chunk SHA-256 manifest
      security: *id002
      responses:
        '200':
          description: Metadata and chunks (offset, size, sha256); storage keys omitted
        '403':
          description: Not owner/admin
        '404':
          description: Not found
  /admin/videos/{id}/chunks:
    parameters:
      - *id003
    put:
      summary: Append chunk at confirmed offset (author/admin)
      security: *id002
      responses:
        '200':
          description: New offset
        '409':
          description: UPLOAD_CONFLICT; reload upload metadata before retrying
        '413':
          description: Chunk exceeds 512 KiB
        '422':
          description: Empty chunk or exceeds reserved size
      parameters:
        - name: Upload-Offset
          in: header
          required: true
          schema:
            type: integer
            minimum: 0
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
              maxLength: 524288
  /admin/videos/{id}/complete:
    parameters:
      - *id003
    post:
      summary: Queue fully received upload (idempotent)
      security: *id002
      responses:
        '200':
          description: Current status
        '403':
          description: Not owner/admin
        '409':
          description: Incompatible state
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /admin/videos/{id}/retry:
    parameters:
      - *id003
    post:
      summary: Retry a FAILED processing job
      security: *id002
      responses:
        '200':
          description: Current status
        '403':
          description: Not owner/admin
        '409':
          description: Incompatible state
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /admin/videos/{id}/cancel:
    parameters:
      - *id003
    post:
      summary: Cancel incomplete upload and remove its persisted chunks
      security: *id002
      responses:
        '200':
          description: Current status
        '403':
          description: Not owner/admin
        '409':
          description: Incompatible state
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /lessons/{id}/video:
    parameters:
      - *id003
    get:
      summary: Stream authorized lesson video
      responses: &id004
        '200':
          description: MP4 or JPEG; Cache-Control private, no-store
        '206':
          description: Single byte range
        '403':
          description: No published preview, ownership or active enrollment for revision
        '404':
          description: Media not READY or absent
        '416':
          description: Unsatisfiable/unsupported Range
      parameters:
        - name: Range
          in: header
          schema:
            type: string
          description: One bytes=start-end or suffix range
    head:
      summary: Same authorization and headers as GET, without body
      responses: *id004
  /lessons/{id}/poster:
    parameters:
      - *id003
    get:
      summary: Stream authorized lesson poster
      responses: &id005
        '200':
          description: MP4 or JPEG; Cache-Control private, no-store
        '206':
          description: Single byte range
        '403':
          description: No published preview, ownership or active enrollment for revision
        '404':
          description: Media not READY or absent
        '416':
          description: Unsatisfiable/unsupported Range
      parameters:
        - name: Range
          in: header
          schema:
            type: string
          description: One bytes=start-end or suffix range
    head:
      summary: Same authorization and headers as GET, without body
      responses: *id005
  /admin/files:
    get:
      summary: List files in course (author owns files or admin)
      security: &id006
        - cookieAuth: []
      responses:
        '200':
          description: Array with id, course_id, filename, size, offset, status, duration
            and error
      parameters:
        - name: courseId
          in: query
          required: true
          schema:
            type: string
            format: uuid
    post:
      summary: Reserve private upload (author/admin)
      security: *id006
      responses:
        '201':
          description: id, offset=0, chunkSize=524288
        '403':
          description: Course access denied
        '422':
          description: Invalid metadata or VIDEO_QUOTA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - courseId
                - filename
                - size
              properties:
                courseId:
                  type: string
                  format: uuid
                filename:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: 'Allowed extensions: PDF, ZIP or supported UTF-8 text/source
                    formats; source/text limited to 2 MiB at validation.'
                size:
                  type: integer
                  minimum: 1
                  maximum: 134217728
  /admin/files/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get owned upload and resumable chunk SHA-256 manifest
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Metadata and chunks (offset, size, sha256); storage keys omitted
        '403':
          description: Not owner/admin
        '404':
          description: Not found
  /admin/files/{id}/chunks:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    put:
      summary: Append chunk at confirmed offset (author/admin)
      security:
        - cookieAuth: []
      responses:
        '200':
          description: New offset
        '409':
          description: UPLOAD_CONFLICT; reload upload metadata before retrying
        '413':
          description: Chunk exceeds 512 KiB
        '422':
          description: Empty chunk or exceeds reserved size
      parameters:
        - name: Upload-Offset
          in: header
          required: true
          schema:
            type: integer
            minimum: 0
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
              maxLength: 524288
  /admin/files/{id}/complete:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Queue fully received upload (idempotent)
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Current status
        '403':
          description: Not owner/admin
        '409':
          description: Incompatible state
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /admin/files/{id}/retry:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Retry a FAILED processing job
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Current status
        '403':
          description: Not owner/admin
        '409':
          description: Incompatible state
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /admin/files/{id}/cancel:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Cancel incomplete upload and remove its persisted chunks
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Current status
        '403':
          description: Not owner/admin
        '409':
          description: Incompatible state
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /attachments/{id}/download:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Download a READY material with course/revision/lesson authorization
      description: Course-level materials require OPEN_FREE publication or active
        enrollment/ownership; lesson materials also honor public preview. Always application/octet-stream
        with Content-Disposition attachment, nosniff and private no-store. Metadata
        includes title, description, filename and byte size.
      responses:
        '200':
          description: Streamed file
        '403':
          description: Enrollment/ownership required
        '404':
          description: Missing or not ready
    head:
      summary: Same authorization and headers as download, without a body
      responses:
        '200':
          description: File headers
        '403':
          description: Access denied
        '404':
          description: Not found
  /lessons/{id}/captions/{language}:
    parameters:
      - $ref: '#/components/parameters/lessonId'
      - name: language
        in: path
        required: true
        schema:
          type: string
          enum:
            - en
            - pt-BR
            - es
    get:
      summary: Authorized WebVTT track for a READY lesson video
      responses:
        '200':
          description: Same lesson/revision access as video; private no-store
          content:
            text/vtt:
              schema:
                type: string
        '403':
          description: Enrollment required or wrong revision
        '404':
          description: Missing video or language track
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: __Host-sid
      description: Production HTTPS cookie; local HTTP development uses sid.
  parameters:
    courseId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Course UUID or slug
    lessonId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
  requestBodies:
    course:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - slug
              - title
              - summary
              - accessMode
              - modules
            properties:
              slug:
                type: string
                minLength: 3
                maxLength: 100
                pattern: ^[a-z0-9]+(?:-[a-z0-9]+)*$
              title:
                type: string
                minLength: 3
                maxLength: 255
              summary:
                type: string
                minLength: 10
                maxLength: 1000
              locale:
                type: string
                default: pt-BR
                enum:
                  - en
                  - pt-BR
                  - es
              accessMode:
                type: string
                enum:
                  - OPEN_FREE
                  - ENROLLED_FREE
              modules: *id007
              creationId:
                type: string
                format: uuid
                description: Optional stable client ID to detect repeated draft creation
                  (409 CREATION_EXISTS).
              attachments:
                type: array
                maxItems: 30
                default: []
                items:
                  $ref: '#/components/schemas/AttachmentInput'
  schemas:
    HomePlacement:
      type: object
      required:
        - courseId
        - slot
        - priority
        - startsAt
        - endsAt
      properties:
        courseId:
          type: string
          format: uuid
        slot:
          type: string
          enum:
            - hero
            - featured
            - recommended
        priority:
          type: integer
          minimum: 0
          maximum: 1000
        startsAt:
          type: string
          format: date-time
        endsAt:
          type:
            - string
            - 'null'
          format: date-time
    AttachmentInput:
      type: object
      required:
        - fileId
        - title
      properties:
        fileId:
          type: string
          format: uuid
        title:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          maxLength: 2000
          default: ''
    CaptionInput:
      type: object
      required:
        - language
        - label
        - vtt
      properties:
        language:
          type: string
          enum:
            - en
            - pt-BR
            - es
        label:
          type: string
          minLength: 1
          maxLength: 80
        vtt:
          type: string
          maxLength: 100000
          description: Plain WebVTT cues only; at most 100000 UTF-8 bytes. Increasing
            start times, end greater than start, no markup/CSS/regions/cue settings.
